/*************************
    GLOBAL ELEMENTS

    1. Navigation Bar
*************************/
* {
    -webkit-font-smoothing: antialiased;
}
#modal_templates .modal-dialog {
    width: 70%;
}

.modalDiv_htmlPreview {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    width: 210mm;
    min-height: 297mm;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
}

/* 1. Navigation Bar  */
.navigationBar {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navigationBar_items {
    float: left;
}

.navigationBar_items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar_items a:hover {
    background-color: #111;
    cursor: pointer;
}

.icons {
    margin-right: 5px;
}

.navigationBar_items + .rightFloat {
    float: right;
}

.navigationBar_items + .loggedUser {
    float: right;
}

.loggedUser {
    cursor: default;
    float: right;
}

/*************************
    TABLES
*************************/
/* GLOBAL */
a {
    outline: none;
}

a:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

table {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-collapse: collapse;
}

/* TABLE */
.tables {
    margin: 5% 5%;
}

#table_forms, #table_templates {
    float: left;
    margin: 0 5%;
    width: 40%;
}
#table_forms td, #table_templates td {
    padding: 5px;
    width: 25%;
}
#table_forms .table_forms_narrow, #table_templates .table_forms_narrow {
    width: 1%;
}

/* THEAD */
#table_forms th, #table_templates th {
    background-color: #333;
    color: white;
    padding: 5px;
}
#table_forms tr:hover, #table_templates tr:hover {
    background-color: #cdcdcd;
}
#table_forms tbody tr:not(:last-child), #table_templates tbody tr:not(:last-child) {
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
/* TBODY */
.tr_selected {
    background-color: #e6e6e6;
}

.dropdown_trashIcons {
    cursor: pointer;
    margin-top: 3px;
}