.mce-content-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 3cm;
    padding-right: 2.5cm;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    width: 21cm;
    min-height: 29.7cm;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
}

.tooltip.top .tooltip-arrow {
    border-top-color: red !important;
}

.tooltip-arrow {
    border-color: white !important;
}

.errorTooltip {
    background-color: red !important;
    width: 150px;
}
body {
    font-family: "DejaVu Sans", sans-serif;
}
