#container {
    background-color: #808080;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 0;
}

.login_buttons {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 13px;
    height: 43px !important;
    margin: 0 auto;
    outline: none !important;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    width: 100% !important;
}

.login_buttons:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.login_buttons:active {
    background-color: #cdcdcd;
}

.login_divIcons {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset !important;
    float: left;
    font-size: 16pt;
    line-height: 50px;
    height: 43px;
    margin-right: -0.5%;
    text-align: center;
    width: 16%;
}

.login_footer {
    color: grey;
    font-size: 9pt; 
    margin-bottom: 18px;
    text-align: center;
}

.login_hr {
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.login_link {
    cursor: pointer;
    text-decoration: underline;
}

.login_link:hover {
    color: black;
}

.login_modal {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0,0,0,.5);
    margin: 10% auto;
    overflow: auto;
    width: 20%;
}

.login_outerDiv {
    margin: 10px;
}

.login_textInputs {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset !important;
    height: 43px !important;
    margin-bottom: 5px !important;
    width: 84% !important;
}

.login_title {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}

.login_status {
    background-color: red;
    border-radius: 2px;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset !important;
    color: white;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

/* login tooltips */
.login_tooltips {
    position: relative;
    display: block;
}
.login_tooltips .login_spanTooltip {
    position: absolute;
    color: #FFFFFF;
    background: #FF0000;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    z-index: 999;
    padding: 1px 3px 2px 2px;
    text-align: center;
    top: 5%;
    left: 19%;
    opacity: 0.8;
}
.login_tooltips .login_spanTooltip:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #FF0000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.tooltip.right .tooltip-inner {
    background-color: red;
    height: 30px;
    line-height: 25px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: red !important;
}
