/*************************
    DROPDOWN MENU

    1. Global settings
	2. Button
	3. Container
	4. Column
	5. Rows
	6. Icons
*************************/

/* 1. Global settings */
/* DIV */
.dropdown {
    /* disable highlights */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 2. Button */
/* DIV */
.dropdown_button{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 13px;
    min-width: 150px;
    min-height: 33px;
    outline: none;
    padding: 4px 8px;
    text-align: center;
}

.dropdown_button:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.dropdown_button:active {
    background-color: #cdcdcd;
}

/* 3. Container */
/* DIV */
.dropdown_container {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,.175);
    display: none;
    float: left;
    position: absolute;
    z-index: 1;
}

/* 4. Columns */
.dropdown_addCategoryLabel {
    float: left;
    min-width: 90%;
}

.dropdown_addCategoryRow {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    cursor: pointer;
    font-size: 14px;
    min-height: 40px;
    padding: 6px 4px;
}

.dropdown_addCategoryRow:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.dropdown_addCategoryRow:active {
    background-color: #cdcdcd;
    cursor: pointer;
}

.dropdown_categoryLabel{
    float: left;
    font-weight: bold;
    min-width: 80%;
}

.dropdown_categoryRow {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 14px;
    min-height: 40px;
    padding: 6px 4px;
}

.dropdown_columns {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    float: left;
    font-size: 13px;
    margin: 5px;
}

/* 5. Rows */
.dropdown_addLabels {
    float: left;
    min-width: 90%;
}

.dropdown_addRows {
    min-height: 35px;
    padding: 7px 4px;
}

.dropdown_addRows:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.dropdown_addRows:active {
    background-color: #cdcdcd;
    cursor: pointer;
}

.dropdown_inputRow {
    min-height: 35px;
    padding: 4px 4px;
}

.dropdown_inputText {
    float: left;
    width: 80%;
}

.dropdown_inputText_addCategory {
    float: left;
    width: 80%;
}

.dropdown_inputText_edit {
    float: left;
    width: 80%;
}

.dropdown_inputText_edit > input {
    border: 0;
    outline: none;
}

.dropdown_inputText_editRow {
    float: left;
    width: 80%;
}

.dropdown_inputText_editRow > input {
    border: 0;
    outline: none;
}

.dropdown_labels {
    float: left;
    min-width: 80%;
}

.dropdown_lastUsed {
    background-color: #e6e6e6;
}

.dropdown_rows {
    padding: 4px 4px;
}

.dropdown_rows:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.dropdown_rows:active {
    background-color: #cdcdcd;
    cursor: pointer;
}

/* 6. Icons */
.dropdown_okIcons {
    cursor: pointer;
    margin: 2px 4px 0 0;
}

.dropdown_pencilIcons {
    cursor: pointer;
}

.dropdown_pencilIcons_category {
    cursor: pointer;
}

.dropdown_removeIcons {
    cursor: pointer;
    float: left;
    margin: 3px 6px 0 1px;
}

.dropdown_trashIcons_category {
    cursor: pointer;
    margin-left: 6px;
}

.dropdown_trashIcons {
    cursor: pointer;
    margin-left: 7px;
}