/*************************
    GLOBAL ELEMENTS

    1. Navigation Bar
*************************/

/* 1. Navigation Bar  */
.navigationBar {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navigationBar_items {
    float: left;
}

.navigationBar_items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar_items a:hover {
    background-color: #111;
    cursor: pointer;
}

.icons {
    margin-right: 5px;
}

.navigationBar_items + .rightFloat {
    float: right;
}

.navigationBar_items + .loggedUser {
    float: right;
}

.loggedUser {
    cursor: default;
    float: right;
}

#inputHtmlText {
    display: none;
}
#editor_div {
    margin-top: 5%;
}
#submitFormButton{
    display: none;
}
.wrapper {
    margin: 5% 0;
}
#replaceTextLabel {
    visibility: hidden;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* dropdown tooltip */
.tooltip.top .tooltip-arrow{
    border-top-color: red!important;
}
.tooltip-arrow {
    border-color: white!important;
}
.errorTooltip {
    background-color: red!important;
    width: 150px;
}