#form_container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.form_labels {
    width: 15%;
    text-align: right;
    margin-right: 5%;
}

.form_inputs {
    width: 35%!important;
}

#myModal {
    overflow-y: hidden;
}
.modal-body {
    overflow-y: auto;
    max-height: 70vh;
}


#datepicker {
    width: 35%;
    margin-right: -25px;
}

.form_dateFormats {
    margin-left: 25px;
}